@import url('https://fonts.googleapis.com/css2?family=Honk&family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --vertical-space:2rem;
    --horizontal-space: 3rem;

    --light-color:#8226BF;
    --body-color:#121D59;
    /* --heading-color:#2E338C; */
    --contrast-color:#472DA6;
}
body{
    font-size: 18px;
    display: grid;
    grid-template-areas:"head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
    font-family: sans-serif;
    /* background-image: linear-gradient(67.5deg, rgb(68, 65, 139) 0%, rgb(68, 65, 139) 2%,rgb(89, 77, 155) 2%, rgb(89, 77, 155) 18%,rgb(110, 88, 171) 18%, rgb(110, 88, 171) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(172, 123, 219) 93%, rgb(172, 123, 219) 95%,rgb(172,58,176) 95%, rgb(172,58,176) 100%),linear-gradient(22.5deg, rgb(68, 65, 139) 0%, rgb(68, 65, 139) 2%,rgb(89, 77, 155) 2%, rgb(89, 77, 155) 18%,rgb(110, 88, 171) 18%, rgb(110, 88, 171) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(172, 123, 219) 93%, rgb(172, 123, 219) 95%,rgb(172,58,176) 95%, rgb(172,58,176) 100%),linear-gradient(225deg, rgb(68, 65, 139) 0%, rgb(68, 65, 139) 2%,rgb(89, 77, 155) 2%, rgb(89, 77, 155) 18%,rgb(110, 88, 171) 18%, rgb(110, 88, 171) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(172, 123, 219) 93%, rgb(172, 123, 219) 95%,rgb(172,58,176) 95%, rgb(172,58,176) 100%),linear-gradient(270deg, rgb(68, 65, 139) 0%, rgb(68, 65, 139) 2%,rgb(89, 77, 155) 2%, rgb(89, 77, 155) 18%,rgb(110, 88, 171) 18%, rgb(110, 88, 171) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(172, 123, 219) 93%, rgb(172, 123, 219) 95%,rgb(172,58,176) 95%, rgb(172,58,176) 100%),linear-gradient(270deg, rgb(41,151,34),rgb(121,31,240)); background-blend-mode:overlay,overlay,overlay,overlay,normal; */
    background-image: linear-gradient(67.5deg, rgb(111,111,168) 0%, rgb(111,111,168) 2%,rgb(111,111,158) 2%, rgb(111,111,158) 18%,rgb(127,111,174) 18%, rgb(127,111,174) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(164,110,221) 93%, rgb(164,110,221) 95%,rgb(152,45,211) 95%, rgb(152,45,211) 100%),linear-gradient(22.5deg, rgb(111,111,168) 0%, rgb(111,111,168) 2%,rgb(111,111,158) 2%, rgb(111,111,158) 18%,rgb(127,111,174) 18%, rgb(127,111,174) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(164,110,221) 93%, rgb(164,110,221) 95%,rgb(152,45,211) 95%, rgb(152,45,211) 100%),linear-gradient(225deg, rgb(111,111,168) 0%, rgb(111,111,168) 2%,rgb(111,111,158) 2%, rgb(111,111,158) 18%,rgb(127,111,174) 18%, rgb(127,111,174) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(164,110,221) 93%, rgb(164,110,221) 95%,rgb(152,45,211) 95%, rgb(152,45,211) 100%),linear-gradient(270deg, rgb(111,111,168) 0%, rgb(111,111,168) 2%,rgb(111,111,158) 2%, rgb(111,111,158) 18%,rgb(127,111,174) 18%, rgb(127,111,174) 23%,rgb(131, 100, 187) 23%, rgb(131, 100, 187) 64%,rgb(151, 111, 203) 64%, rgb(151, 111, 203) 93%,rgb(164,110,221) 93%, rgb(164,110,221) 95%,rgb(152,45,211) 95%, rgb(152,45,211) 100%),linear-gradient(270deg, rgb(16,4,4),rgb(154,31,240)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    color: var(--body-color);
}
main{
    background-color: rgba(255,255,255, 0.7);
}
h1, h2, h3{
    line-height: 1.2;
    font-family: "Honk", system-ui;
}
a{
    color: var(--body-color);
    text-decoration-color: var(--light-color);
}
a:hover{
    color: var(--light-color);
}
body#about img{
    height: 15em;
    display: inline;
    float: left;
    margin-right: var(--horizontal-space);
}
p{
    max-width: 50em;
}

@media screen and (min-width: 25em) {
    body{
        grid-template-areas:"head head"
                            "nav main"
                            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}
body > *{
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
body > header{
    grid-area: head;
}
body > nav{
    grid-area: nav;
}
body > nav ul{
    list-style-type: none;
    padding: 0;
}
body > main{
    grid-area: main;
}
body > footer{
    grid-area: foot;
}
header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header h1, footer h1{
    margin: 0;
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}
body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}