@import url('https://fonts.googleapis.com/css2?family=Honk&family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --vertical-space:2rem;
    --horizontal-space: 3rem;

    --light-color:#8226BF;
    --body-color:#121D59;
    /* --heading-color:#2E338C; */
    --contrast-color:#472DA6;
}
body{
    font-size: 18px;
    display: grid;
    grid-template-areas:"head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
    font-family: sans-serif;
    background-image: linear-gradient(288deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(128,102,162) 20%, rgb(128,102,162) 49%,rgb(102,82,133) 49%, rgb(102,82,133) 71%,rgb(121,119,129) 71%, rgb(121,119,129) 72%,rgb(176,164,164) 72%, rgb(176,164,164) 100%),linear-gradient(67.5deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(128,102,162) 20%, rgb(128,102,162) 49%,rgb(102,82,133) 49%, rgb(102,82,133) 71%,rgb(121,119,129) 71%, rgb(121,119,129) 72%,rgb(176,164,164) 72%, rgb(176,164,164) 100%),linear-gradient(112.5deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(128,102,162) 20%, rgb(128,102,162) 49%,rgb(102,82,133) 49%, rgb(102,82,133) 71%,rgb(121,119,129) 71%, rgb(121,119,129) 72%,rgb(176,164,164) 72%, rgb(176,164,164) 100%),linear-gradient(243deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(128,102,162) 20%, rgb(128,102,162) 49%,rgb(102,82,133) 49%, rgb(102,82,133) 71%,rgb(121,119,129) 71%, rgb(121,119,129) 72%,rgb(176,164,164) 72%, rgb(176,164,164) 100%),linear-gradient(288deg, rgb(81,8,110),rgb(41,77,114)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    color: var(--body-color);
}
main{
    background-color: white, 0.7;
}
h1, h2, h3{
    line-height: 1.2;
    font-family: "Honk", system-ui;
}
a{
    color: var(--body-color);
    text-decoration-color: var(--light-color);
}
a:hover{
    color: var(--light-color);
}
body#about img{
    height: 15em;
    display: inline;
    float: left;
    margin-right: var(--horizontal-space);
}
p{
    max-width: 50em;
}

@media screen and (min-width: 25em) {
    body{
        grid-template-areas:"head head"
                            "nav main"
                            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}
body > *{
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
body > header{
    grid-area: head;
}
body > nav{
    grid-area: nav;
}
body > nav ul{
    list-style-type: none;
    padding: 0;
}
body > main{
    grid-area: main;
}
body > footer{
    grid-area: foot;
}
header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header h1, footer h1{
    margin: 0;
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}
body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}